<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Users</title>
</head>
<body>
    <h1>All Users</h1>
    <ul>
      {{range .Users}}
        <li>Name: {{ .Name }}, Age: {{ .Age }}</li>
      {{ end }}
    </ul>
</body>
</html>
